	<%= render :partial => "./users/aside"%>

<div id = "list_posts">
	<% if @blogs.first.present? %>
		<p id = "block_sort_comments">Сортувати за: 
			<%= link_to "популярністю", :comments_sort => "count_comments DESC" %>
			<span>|</span>
			<%= link_to "часом додавання", :comments_sort => "created_at DESC" %>
		</p>
		<% url = params[:category_id] unless params[:category_id].nil? %>
		<% url = 0 if params[:category_id].nil? %>
		<div id = "blog_categories">
			<span>Вибрати категорію: </span>
			<%= select("blog", "category_id", @category.collect {|p| [ p.category_name, p.id]},  {selected: url, :include_blank => 'Усі'}) %>
		</div>



		<% @blogs.each do |b| %>
			<div class = "blog_info">
				<div class = "blog_info_user">
					<p class="user_name">
						<%= b.user.name %>
						<br>
						<%= b.user.surname %>
					</p>
					<%unless b.user.photo.present? == false  %> 
						<p class = "bl_image">
							<%= image_tag(b.user.photo)%>
						</p>
					<%else%>
						<p class = "bl_image_without_photo">
							<span id="no_photo">No photo</span>
						</p>
					<%end%>
				</div>
				<div class = "blog_info_content">
					<h3><%= link_to b.post_title, user_blog_path(b.user_id, b.id) %>
					<span style="float: right; margin-right: 2px;"><i class="fa fa-comments" aria-hidden="true" style= "color: #00668B"></i><%= " #{b.count_comments}" %></span></h3>
					<p class = "post_theme"><%= b.post_theme%></p>
				</div>
			</div>
		<% end %>
			<div id = "nPage">
				<%= paginate @blogs, :window => 2 %>
			</div>
	<%else%>
		<div class = "blog_info" style = "text-align: center; font: Bold 20px Times;">Блогів не знайдено
		<br>
		<%= link_to "Повернутись назад", :back, style: "color: #4B64EF; font: Italic 16px Times;" %>
		</div>
	<%end%>
</div>