<div id = "blAcc_edit">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div id = "blEmail">
      <%= f.input :email, :autofocus => true, placeholder: "Email", label: "<i id = \"icon_email\" class=\"fa fa-envelope-o fa-fw\"></i>".html_safe %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class = "blPass">
      <%= f.input :current_password, placeholder: "Поточний пароль", label: "<i class=\"fa fa-key fa-fw\"></i>".html_safe %>
    </div>

    <div id = "form_acc_edit">
      <form>
          <input type="radio" name="acc_edit" value="pass_edit" checked> Змінити пароль<br>
          <input type="radio" name="acc_edit" value="acc_delete"> Видалити аккаунт<br>
      </form>
    </div>

    <div class = "bl_checked" id = "pass_edit">
      <h3> Зміна паролю </h3>
      <div class = "blPass">
        <%= f.input :password, placeholder: "Новий пароль", label: "<i class=\"fa fa-key fa-fw\"></i>".html_safe %>
      </div>

      <div class = "blPass">
        <%= f.input :password_confirmation, placeholder: "Повторіть пароль", label: "<i class=\"fa fa-key fa-fw\"></i>".html_safe %>
      </div>
      <div id = "bl_submit">
        <%= f.button :submit, "Оновити" %>
      </div>
    </div>
    <div class = "bl_checked" id = "acc_delete">
      <h3>Видалення аккаунту</h3>
      <%= button_to "Видалити аккаунт?", registration_path(resource_name), data: { confirm: "Ви впевнені?" }, method: :delete %></p>
    </div>
  <% end %>
  <div id="other_links">
    <%= link_to "Back", :back %>
  </div>
</div>