<% @articles_main_news = @articles.select{|a| a.main_article == true && a.main_image.present? } %>
<% unless (@articles_main_news.count == 0) %>
	<div id="slider_main_images">
		<div class = "main_images">
			<% @articles_main_news.each do |a| %>
				<div id = <%= "a#{a.id}"%> class = "main_image">
					<% category_link = a.category.category_link %>
					<p class="pimg">
						<%= link_to image_tag(a.main_image), category_article_path(category_link, a.article_link)%>
					</p>
					<p class="ptittle">
						<%= link_to a.tittle, category_article_path(category_link, a.article_link), style: "font:Bold 16px Arial" %>
					</p>
				</div>
			<% end %>
		</div>
		<div id = "main_image_back"></div>
		<div id = "main_image_next"></div>
	</div>
<%end%>
<div id = "block_articles">
	<h2>Усі новини</h2>
	<div id="block_sort_news">
			<span class = "sep">|</span>
			<%= link_to "Всі"%>
			<span class = "sep">|</span>
		<% Region.all.each do |r|%>
			<%= link_to r.region_name, region_id: "#{r.id}" %>
			<span class = "sep">|</span>
		<%end%>
	</div>
	<table>
		<% @articles.each do |a| %>
			<tr>
				<td class = "data_times">
					<span class = "times"><%= a.created_at.strftime("%k:%M") %></span>
					<span class = "data"><%= a.created_at.strftime("%d/%m") %></span>
				</td>
				<% category_link = a.category.category_link %>
				<td class = "article_name"><%= link_to a.tittle, category_article_path(category_link, a.article_link) %></td>
			</tr>
		<%end%>
	</table>
</div>
<div id = "nPage">
	<%= paginate @articles, :window => 2 %>
</div>