<div id="slider_main_images">
	<div class = "main_images">
		<% @articles.select{|a|a.main_article == true}.each do |a| %>
			<div id = <%= "a#{a.id}"%> class = "main_image">
				<% category_link = a.category.category_link %>
				<p class="pimg">
					<%= link_to image_tag(a.main_image), category_article_path(category_link, a.article_link) %>
				</p>
				<p class="ptittle">
					<%= link_to a.tittle, category_article_path(category_link, a.article_link) %>
				</p>
			</div>
		<% end %>
	</div>
	<div id = "main_image_back"></div>
	<div id = "main_image_next"></div>
</div>
<div id = "block_articles">
	<h2>Усі новини</h2>
	<table>
		<% @articles.each do |a| %>
			<tr>
				<td class = "data_times">
					<span class = "times"><%= a.created_at.strftime("%k:%M") %></span>
					<span class = "data"><%= a.created_at.strftime("%d/%m") %></span>
				</td>
				<% category_link = a.category.category_link %>
				<td class = "article_name"><%= link_to a.tittle, category_article_path(category_link, a.article_link) %></td>
			</tr>
		<%end%>
	</table>
</div>
<div id = "nPage">
	<%= paginate @articles, :window => 2 %>
</div>