<div id = "blSign_in">

  <h1>Вхід</h1>
  
  <%= simple_form_for(resource, :url => session_path(resource_name)) do |f| %>
    
    <div id = "blEmail">
      <%= f.input :email, :autofocus => true, placeholder: "Email", label: "<i id = \"icon_email\" class=\"fa fa-envelope-o fa-fw\"></i>".html_safe %>
    </div>

    <div class = "blPass">
      <%= f.input :password, placeholder: "Пароль", label: "<i class=\"fa fa-key fa-fw\"></i>".html_safe %>
    </div>



    <div id="other_links">
      <%= render "devise/shared/links" %>
    </div>

    <div id = "bl_submit">
      <%= f.submit "Увійти" %>
    </div>
  
  <% end %>

</div>