<!DOCTYPE html>
<html>
	<head>
	  <title>Latestnews</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id ="wrapper">
			<header>			 
				<%= link_to	'<div id="blLogo"><img src="/assets/application/logo.png"></div>'.html_safe, categories_path %>
				<%= link_to '<p id="name">	<span id="txtwhite">Останні</span><span id="txtblack"> Новини</span></br>
												<span id="subtext">Завжди правдиві новини</span></p>'.html_safe %>
			</header>
			<nav>
				<ul id = "menu_categories">
					<% Category.where(menu_show: true).order(:priority).each do |c|%>
						<li id = <%= c.category_link%> class = "categories">
							<%= link_to c.category_name, category_path(c.category_link) %>
							<ul class = "menu_subcategories">
								<% c.subcategories.where(menu_show: true).each do |sc| %>
									<li class = <%=c.category_link%>><%= link_to sc.subcategory_name, category_subcategory_path(c.category_link, sc.subcategory_link) %></li>
								<%end%>
							</ul>
						</li>
					<%end%>
				</ul>
				<div id = "other">
				</div>
				<div id = "bl_other" style = "display: none;">
					<ul id = "ul_bl_other">
						<% Category.order("id").each do |c| %>
							<li class = "all_categories" id = <%= c.category_link%>><%= link_to c.category_name %>
								<ul>
									<% c.subcategories.each do |sc| %>
										<li class= <%= "c#{sc.category_id}"%>>
											<%= link_to sc.subcategory_name, category_subcategory_path(c.category_link, sc.subcategory_link) %>
										</li>
									<%end%>
								</ul>
							</li>
						<% end %>
					<ul>
				</div>

			</nav>
			<main>
			<%= yield %>
			</main>
			<footer>
			<p>«LatestNews» 2016</p>
			</footer>
		</div>
	</body>
</html>
